{% extends 'bookclub/book_base.html' %}

{% block contents %}
    <style>
        ul { margin-top: 5px; margin-bottom: 10px; }
        h3, h4 { margin-top: 5px; margin-bottom: 10px; }
    </style>
    <ul>
        <ul>
            {% for genre in genre_list %}
                <h3><b>{{ genre.name }}</b></h3>
                <ul>
                    <div><b>Description:</b> {{ genre.description }}</div>
                    <h4><b>Books Available</b></h4>
                    <ul>
                        {% for book in genre.books.all %}
                            <li>
                                {{ book.title }} | <a href="{{ book.get_absolute_url }}">Details</a>
                            </li>
                            {% empty %} <li>There are no books for this genre.</li>
                        {% endfor %}
                    </ul>
                </ul>
                {% empty %} <li>No books available.</li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}